## 2. DBMS

### 2.2 RDBMS

- 개체 관계 모델
    - 개체 / 관계 / 속성 / 기본 키
    
### 2.3 SQL

> #### Data Type
- Boolean(BOOLEAN) : True or False
- Character(CHAR, VARCHAR)
- Exact numeric(Exact numeric (NUMERIC, DECIMAL, INTEGER, SMALLINT, BIGINT)
- Approximate numeric(REAL, FLOAT, DOUBLE)
- Datetime(DATE, TIME, TIMESTAMP)

> ### DDL
- CREATE
    - Table 생성
    - ```SQL
CREATE TABLE (employees)(
    id            INTEGER     PRIMARY KEY,
    first_name    VARCHAR(50) not null,
    last_name     VARCHAR(75) not null,
    dataofbirth   DATE        not null
    )
      ```
    - contrains
        - NOT NULL / UNIQUE / PRIMARY KEY / FOREIGN KEY ...
- DROP
    - Table 삭제
    - ```SQL
        DROP table employees;
      ```
- TRUNCATE
    - Table 삭제
    - ```SQL
        TRUNCATE TABLE table_name;
      ```
- ALTER
    - Table 수정
    - ```SQL
        ALTER TABLE table_name
        ADD column_name datatype;
        ALTER TABLE table_name
        DROP COLUMN column_name;
        ALTER TABLE table_name
        MODIFY COLUMN column_name datatype;
      ```
- INSERT
    - 데이터 삽입
    - ```SQL
    INSERT INTO phone (name, number) VALUES ('name', '123-4567');
      ```
- SELECT
    - 데이터 추출
    - ```SQL
    -- 기본 방법
    SELECT (ALL | DISTINCT) 컬럼명 [,컬럼명...]
    FROM 테이블명 [,테이블명...]
    [WHERE 조건식]
    [GROUP BY 컬럼명 [HAVING 조건식]]
    [ORDER BY 컬럼명]
    GROUP BY 컬럼명[,컬럼명...]
    ORDER BY 컬럼명[,컬럼명...]
    ```
- UPDATE
    - 데이터 업데이트
    - ```SQL
    UPDATE Customers
    SET ContactName = 'Juan'
    WHERE Country = 'Mexico';
    ```
- DELETE
    - 데이터 열 기준으로 삭제
    - ```SQL
    DELETE FROM table_name
    WHERE condition;
    ```
- JOIN
    - 데이터 병합
    - 종류 : (INNER) JOIN / LEFT JOIN / RIGHT JOIN / FULL JOIN
    - ```SQL
    SELECT Orders>OrderID, Customers.CustomerName, Orders.OrderDate
    FROM Orders
    INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID;
    ```
    
### 2.4 SQLite

In [1]:
import sqlite3

conn = sqlite3.connect(':memory:') # memory 내에서 작업
cur = conn.cursor() # cursor 생성

cur.execute('CREATE TABLE people (name_last, age)') # table create

who = "aaa"

age = 10
# qmark style
cur.execute('INSERT INTO people VALUES(?, ?)', (who, age)) # data insert

cur.execute('SELECT * FROM people') # select

# names style
cur.execute("INSERT INTO people VALUES(:a, :b)", {'a':who, 'b':age})

cur.execute('SELECT * FROM people') # select

cur.fetchall()

[('aaa', 10), ('aaa', 10)]

In [2]:
data = [('A', 1),('B', 2),('C', 3)]
cur.executemany('INSERT INTO people VALUES (?, ?)', data)

cur.execute('SELECT * FROM people') # select

cur.fetchall()

[('aaa', 10), ('aaa', 10), ('A', 1), ('B', 2), ('C', 3)]

In [3]:
cur.close() # cursor close
conn.close() # connection close

In [4]:
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

cur.executescript("""
    CREATE TABLE people (name, age);
    INSERT INTO people VALUES('a', 1);
""")

cur.execute('SELECT * FROM people') # select

print(cur.fetchall())

cur.close() # cursor close
conn.close() # connection close

[('a', 1)]

In [5]:
conn = sqlite3.connect('ex1.db')
cur = conn.cursor()

# cur.executescript('''
#     CREATE TABLE people (name, age);
#     INSERT INTO people VALUES('a', 1);
# ''')
cur.executemany('INSERT INTO people VALUES(?, ?)',
               [('C', 3), ('D', 4)])

cur.execute('SELECT * FROM people') # select

print(cur.fetchall())

cur.execute('INSERT INTO people VALUES("E", 5)')

cur.execute('SELECT * FROM people') # select

print(cur.fetchall())

conn.commit() # DB Browser 최신화 / data 수정 후 commit 필수

cur.close() # cursor close
conn.close() # connection close

[('a', 1), ('C', 3), ('D', 4), ('C', 3), ('D', 4), ('C', 3), ('D', 4), ('E', 5), ('C', 3), ('D', 4)]
[('a', 1), ('C', 3), ('D', 4), ('C', 3), ('D', 4), ('C', 3), ('D', 4), ('E', 5), ('C', 3), ('D', 4), ('E', 5)]

In [6]:
conn = sqlite3.connect('ex1.db')
cur = conn.cursor()

cur.executescript('''
    DROP TABLE IF EXISTS company;
    CREATE TABLE company(
        id    INT   PRIMARY KEY,
        name  TEXT  NOT NULL,
        age   INT   NOT NULL,
        address CHAR(50),
        salary REAL
    );
''')

cur.execute('INSERT INTO company VALUES(1, "AAA", 33, "address1", 11.0)')

conn.commit()

cur.execute('SELECT * FROM company') # select

print(cur.fetchall())

print(cur.lastrowid, conn.total_changes)

cur.close() # cursor close
conn.close() # connection close

[(1, 'AAA', 33, 'address1', 11.0)]
1 1

In [8]:
conn = sqlite3.connect('ex1.db')
cur = conn.cursor()

cur.execute('UPDATE company SET name = "test";') # data 수정

conn.commit()

cur.execute('SELECT * FROM company') # select

print(cur.fetchall())

cur.close() # cursor close
conn.close() # connection close

[(1, 'test', 33, 'address1', 11.0)]

In [70]:
conn = sqlite3.connect('ex1.db')
cur = conn.cursor()

# 작업한 내용 확인
list(conn.iterdump())

['BEGIN TRANSACTION;',
 'CREATE TABLE company(\n        id    INT   PRIMARY KEY,\n        name  TEXT  NOT NULL,\n        age   INT   NOT NULL,\n        address CHAR(50),\n        salary REAL\n    );',
 'INSERT INTO "company" VALUES(1,\'test\',33,\'address1\',11.0);',
 'CREATE TABLE people (name, age);',
 'INSERT INTO "people" VALUES(\'a\',1);',
 'INSERT INTO "people" VALUES(\'C\',3);',
 'INSERT INTO "people" VALUES(\'D\',4);',
 'INSERT INTO "people" VALUES(\'C\',3);',
 'INSERT INTO "people" VALUES(\'D\',4);',
 'INSERT INTO "people" VALUES(\'C\',3);',
 'INSERT INTO "people" VALUES(\'D\',4);',
 'INSERT INTO "people" VALUES(\'E\',5);',
 'INSERT INTO "people" VALUES(\'C\',3);',
 'INSERT INTO "people" VALUES(\'D\',4);',
 'INSERT INTO "people" VALUES(\'E\',5);',
 'COMMIT;']

In [13]:
conn = sqlite3.connect('playlist.db')
cur = conn.cursor()

cur.executescript('''
    DROP TABLE IF EXISTS Artist;
    CREATE TABLE Artist(
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        title TEXT NOT NULL
    );
    DROP TABLE IF EXISTS Album;
    CREATE TABLE Album(
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        title TEXT NOT NULL,
        Artist_id INT NOT NULL
    );
    DROP TABLE IF EXISTS Genre;
    CREATE TABLE Genre(
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        title TEXT NOT NULL
    );
    DROP TABLE IF EXISTS Track;
    CREATE TABLE Track(
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        title TEXT NOT NULL,
        length INT NOT NULL,
        rating INT NOT NULL,
        count INT NOT NULL,
        Album_id INT NOT NULL,
        Genre_id INT NOT NULL
    );
''')

cur.execute('INSERT INTO Artist(title) VALUES(?)', ['Led Zepplin'])

cur.execute('SELECT id FROM Artist WHERE title=?', ['Led Zepplin'])

print(cur.lastrowid, cur.fetchone()[0])

cur.execute('''INSERT INTO Album(title, Artist_id) VALUES(?, ?)''', ['IV', cur.lastrowid])

cur.execute('''
    INSERT INTO Artist VALUES(NULL, ?)
''', ['AC/DC'])

cur.execute('''
    INSERT INTO Album VALUES(NULL, ?, (
        SELECT id FROM Artist WHERE title = ? LIMIT 0,1
    ))
''', ['Who Made Who', 'AC/DC'])

conn.commit()

cur.executemany('INSERT INTO Genre(title) VALUES(?)', [('Rock',),('Metal',)])

data = [
    ('Black dog', 5, 297,0, 'Who Made Who', 'Rock'),
    ('Stairway', 5, 297,0, 'Who Made Who', 'Rock'),
    ('About to Rock', 5, 297,0, 'IV', 'Metal'),
    ('Who Made Who', 5, 297,0, 'IV', 'Metal')
]

cur.executemany('''
    INSERT INTO Track VALUES(NULL, ?, ?, ?, ?, (
        SELECT id FROM Album WHERE title = ? LIMIT 0,1
    ), (
        SELECT id FROM Genre WHERE title = ? LIMIT 0,1
    ))
''', data)

conn.commit()

cur.execute('''
    SELECT A.title, B.title, C.title, D.title FROM Track AS A
    INNER JOIN Album AS B
    ON A.Album_id = B.id
    INNER JOIN Genre AS C
    ON A.Genre_id = C.id
    INNER JOIN Artist AS D
    ON B.Artist_id = D.id
    ORDER BY A.title
''')
cur.fetchall()

## 3. ORM, RE

- Object Relational Model

In [72]:
import sqlalchemy

sqlalchemy.__version__

'1.3.5'

In [81]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///:memory:', echo = True)
# engine = create_engine('sqlite://', echo = True)

print(engine)

Engine(sqlite:///:memory:)

In [129]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

metadata = MetaData()
users = Table('users', metadata,
              Column('id', Integer, primary_key = True),
              Column('name', String),
              Column('fullname', String),
)

addresses = Table('addresses', metadata,
              Column('id', Integer, primary_key = True),
              Column('user_id', None, ForeignKey('users.id')),
              Column('eamil_address', String, nullable = False)
)

metadata.create_all(engine) # commit

2020-07-14 16:04:04,378 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2020-07-14 16:04:04,379 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 16:04:04,381 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("addresses")

2020-07-14 16:04:04,383 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [130]:
metadata.tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('eamil_address', String(), table=<addresses>, nullable=False), schema=None)})

In [131]:
metadata.bind

In [132]:
print(users.insert())

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

In [133]:
insert = users.insert().values(name = 'test', fullname = 'testtest')
print(insert)
print(insert.compile())
print(insert.compile().params)

INSERT INTO users (name, fullname) VALUES (:name, :fullname)
INSERT INTO users (name, fullname) VALUES (:name, :fullname)
{'name': 'test', 'fullname': 'testtest'}

In [134]:
conn = engine.connect()

In [135]:
conn.execute(insert)

2020-07-14 16:04:07,026 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname) VALUES (?, ?)

2020-07-14 16:04:07,029 INFO sqlalchemy.engine.base.Engine ('test', 'testtest')

INFO:sqlalchemy.engine.base.Engine:('test', 'testtest')

2020-07-14 16:04:07,030 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [136]:
print(users.select().compile())

SELECT users.id, users.name, users.fullname
FROM users

In [137]:
conn.execute(users.select())

2020-07-14 16:04:07,555 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users

2020-07-14 16:04:07,557 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [138]:
cur = conn.execute(users.select())

2020-07-14 16:04:07,745 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users

2020-07-14 16:04:07,747 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [139]:
list(cur)

[(1, 'test', 'testtest'), (2, 'test2', 'test2test2'), (3, 'test', 'testtest')]

In [140]:
cur = conn.execute(users.insert(),
                  {'name' : 'test2', 'fullname' : 'test2test2'})

2020-07-14 16:04:08,190 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname) VALUES (?, ?)

2020-07-14 16:04:08,192 INFO sqlalchemy.engine.base.Engine ('test2', 'test2test2')

INFO:sqlalchemy.engine.base.Engine:('test2', 'test2test2')

2020-07-14 16:04:08,195 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [141]:
cur = conn.execute(users.select())

list(cur)

2020-07-14 16:04:08,705 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users

2020-07-14 16:04:08,707 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(1, 'test', 'testtest'),
 (2, 'test2', 'test2test2'),
 (3, 'test', 'testtest'),
 (4, 'test2', 'test2test2')]

In [142]:
from sqlalchemy import select
print(select([users.c.name, users.c.fullname]))
cur = conn.execute(select([users.c.name, users.c.fullname]))
print(list(cur))

SELECT users.name, users.fullname
FROM users
2020-07-14 16:04:09,254 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, users.fullname
FROM users

2020-07-14 16:04:09,256 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[('test', 'testtest'), ('test2', 'test2test2'), ('test', 'testtest'), ('test2', 'test2test2')]

In [143]:
print(users.c.id == 1)
print((users.c.id == 1).compile().params)

users.id = :id_1
{'id_1': 1}

In [144]:
cur = conn.execute(users.select().where(users.c.id == 1))
list(cur)

2020-07-14 16:04:10,390 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?

2020-07-14 16:04:10,392 INFO sqlalchemy.engine.base.Engine (1,)

INFO:sqlalchemy.engine.base.Engine:(1,)

[(1, 'test', 'testtest')]

In [146]:
cur = conn.execute(addresses.insert(), {'user_id' : 1, 'eamil_address' : '101.com'})

2020-07-14 16:04:29,513 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, eamil_address) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO addresses (user_id, eamil_address) VALUES (?, ?)

2020-07-14 16:04:29,515 INFO sqlalchemy.engine.base.Engine (1, '101.com')

INFO:sqlalchemy.engine.base.Engine:(1, '101.com')

2020-07-14 16:04:29,517 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [156]:
from sqlalchemy import join

print(users.join(addresses))
print(select([users.c.name, users.c.fullname, addresses.c.eamil_address]).\
            select_from(users.join(addresses)))

users JOIN addresses ON users.id = addresses.user_id
SELECT users.name, users.fullname, addresses.eamil_address
FROM users JOIN addresses ON users.id = addresses.user_id

In [157]:
list(conn.execute(select([users.c.name, users.c.fullname, addresses.c.eamil_address]).\
            select_from(users.join(addresses))))

2020-07-14 16:10:49,544 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname, addresses.eamil_address
FROM users JOIN addresses ON users.id = addresses.user_id

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, users.fullname, addresses.eamil_address
FROM users JOIN addresses ON users.id = addresses.user_id

2020-07-14 16:10:49,547 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[('test', 'testtest', '101.com')]

In [158]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer
engine = create_engine('sqlite:///ex3.db')
engine

Engine(sqlite:///ex3.db)

In [161]:
meta = MetaData()
users = Table('user', meta,
             Column('id', Integer, primary_key = True),
             Column('name', String, nullable = False))
addr = Table('address', meta,
            Column('id', Integer, primary_key = True),
            Column('user_id', Integer, ForeignKey('user.id')),
            Column('email', String))

In [162]:
meta.create_all(engine)

In [163]:
engine.execute(users.insert(), [{'name' : '1'}, {'name' : '2'}])

In [164]:
engine.execute(addr.insert(), [{'user_id' : 1, 'email' : '1@com'},
                              {'user_id' : 2, 'email' : '2@com'}])

In [165]:
cur = engine.execute(
    select([users.c.name, addr.c.email]).select_from(users.join(addr))
)
cur.fetchall()

[('1', '1@com'), ('2', '2@com')]